<!DOCTYPE html>
<html>
<head>
<title>Twitterのフォローを管理するやつ</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Twitterのフォローを管理するやつ</h1>
<% if (isLogined) { %>
<p>Welcome!</p>
<% } else { %>
<p><a href="./auth/twitter">login</a></p>
<% } %>
</body>
</html>
