<!DOCTYPE html>
<html>
<head>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-6544274879973270",
    enable_page_level_ads: true
  });
</script>
<meta charset="utf-8" />
<title>フレマネ - Twitterのフレンズ管理ツール</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/bootstrap-social.css" />
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/stylesheets/sticky-footer-navbar.css" />
</head>

<body>
<nav class="navbar navbar-inverse">
<div class="container">
<div class="navbar-header">
<h1><a href="/" class="navbar-brand">フレマネ</a></h1>
</div>

<% if (isLoggedIn) { %>
<ul class="nav navbar-nav">
<li><a href="/manager">管理画面</a></li>
</ul>
<% } %>
</div>
</nav>


<section>
<div class="container">
<p class="lead">Twitter のフォロー管理を支援するツールです。</p>
<p class="text-center">
<% if (isLoggedIn) {%>
<a class="btn btn-lg" href="/manager">
  管理画面へ
</a>
<% } else { %>
<a class="btn btn-social btn-twitter btn-lg" href="/auth/twitter">
  <span class="fa fa-twitter"></span>
  Sign in with Twitter
</a>
<% } %>
</p>
</div>
</section>


<footer id="footer">
<div class="container">
<p class="text-muted">&copy; 2017 <a href="//twitter.com/nahcnuj">@nahcnuj</a></p>
</div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
