<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>フレマネ - Twitterのフレンズ管理ツール</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/stylesheets/sticky-footer-navbar.css" />
</head>

<body>
<nav class="navbar navbar-inverse">
<div class="container">
<div class="navbar-header">
<a href="/" class="navbar-brand">フレマネ</a>
</div>
</div>
</nav>

<div class="container">
<table>
<thead>
<tr>
<th></th>
</tr>
</thead>
<tbody>

<tr>
<td></td>
</tr>
</tbody>
</table>
</div>

<footer id="footer">
<div class="container">
<p class="text-muted">&copy; 2017 <a href="//twitter.com/nahcnuj">@nahcnuj</a>.</p>
</div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
